<%= form_for @executie, :html => { :class => "form-horizontal executie" } do |f| %>

  <% if @executie.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@executie.errors.count, "error") %> prohibited this executie from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @executie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tv, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tv, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tv) %>
  </div>
  <div class="form-group">
    <%= f.label :tc, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tc, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tc) %>
  </div>
  <div class="form-group">
    <%= f.label :month, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :month, :class => 'form-control' %>
    </div>
    <%=f.error_span(:month) %>
  </div>
  <div class="form-group">
    <%= f.label :tip, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tip, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tip) %>
  </div>
  <div class="form-group">
    <%= f.label :sursa, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sursa, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sursa) %>
  </div>
  <div class="form-group">
    <%= f.label :funct_code_class, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :funct_code_class, :class => 'form-control' %>
    </div>
    <%=f.error_span(:funct_code_class) %>
  </div>
  <div class="form-group">
    <%= f.label :func_desc, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :func_desc, :class => 'form-control' %>
    </div>
    <%=f.error_span(:func_desc) %>
  </div>
  <div class="form-group">
    <%= f.label :eco_code_class, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :eco_code_class, :class => 'form-control' %>
    </div>
    <%=f.error_span(:eco_code_class) %>
  </div>
  <div class="form-group">
    <%= f.label :eco_desc, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :eco_desc, :class => 'form-control' %>
    </div>
    <%=f.error_span(:eco_desc) %>
  </div>
  <div class="form-group">
    <%= f.label :exec_cumul, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :exec_cumul, :class => 'form-control' %>
    </div>
    <%=f.error_span(:exec_cumul) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                executies_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
