<div id="filterrific_results">

  <div>
    <%= page_entries_info executies # provided by will_paginate %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Registered at</th>
    </tr>
    <% executies.each do |executie| %>
      <tr>
        <td><%= #link_to executie.full_name, executie_path executie)) %></td>
        <td><%= executie.tip %></td>
        <td><%= executie.month %></td>
        <td><%= executie.func_desc %></td>
        <td><%= executie.exec_cumul %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate executies # provided by will_paginate %>