<!DOCTYPE html>
<html>
<head>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" lang="ro">

  <title>Execuții Bugetare Detaliate</title>
</head>

  <div class="container">
<body>


    
<div class="well">
  <h4>Execuții Bugetare Detaliate | 2016: Oraș Hârlău, Județul Iași</h4>
</div><br>
<hr>
  <table id='execs' class='table'>
   <thead>
      <tr>
      <th>Lună</th>
      <th width='10%'>Tip</th>
      <th>Descriere Funcțională </th>
      <th>Clasificație Funcțională</th>
    <!--  <th>Descriere Economică</th> -->
      <th>Clasificare Economică</th>
    
      <th>Total</th>
    </tr>
   </thead>
   <tbody>
  <% @executii.each do |e| %>
    
      <tr>
      <td><%= e.month %> </td>
      <td><%= e.tip %> </td>
      <td> <%=  e.func_desc  %></td>
      <td><%= e.funct_code_class %> </td>
  
      <td> <%= e.eco_code_class %> </td>
     
      <td><%= number_to_currency(e.exec_cumul, unit: "RON", separator: ",", delimiter: "", format: "%n %u") %> </td>
    </tr>  
    <% end %>
      </tbody>
  </table>

</body>

<footer>
<div class="well well-sm">
  <p>Bogdan Arsene</p> <br>
  <p>Sursă Date: <a href="http://www.transparenta-bugetara.gov.ro/transparenta-bugetara/index.htm">Transparență-Bugetară .gov.ro</a></p>
</div>
  </div>
  
</footer>


</html>