<%- model_class = Executie -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:tv) %>:</strong></dt>
  <dd><%= @executie.tv %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tc) %>:</strong></dt>
  <dd><%= @executie.tc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:month) %>:</strong></dt>
  <dd><%= @executie.month %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tip) %>:</strong></dt>
  <dd><%= @executie.tip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sursa) %>:</strong></dt>
  <dd><%= @executie.sursa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:funct_code_class) %>:</strong></dt>
  <dd><%= @executie.funct_code_class %></dd>
  <dt><strong><%= model_class.human_attribute_name(:func_desc) %>:</strong></dt>
  <dd><%= @executie.func_desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eco_code_class) %>:</strong></dt>
  <dd><%= @executie.eco_code_class %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eco_desc) %>:</strong></dt>
  <dd><%= @executie.eco_desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exec_cumul) %>:</strong></dt>
  <dd><%= @executie.exec_cumul %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              executies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_executy_path(@executie), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              executy_path(@executie),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
